@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,200;1,100&display=swap');

* {
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}

main {
    max-width: 1300px;
    margin: 0 auto;
    padding: 2rem 0;
}

header {
    background-color: beige;
    padding: 50px 140px;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-size: 1rem;
    font-weight: 500;
}

nav li>a {
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
}

.nav-title {
    font-size: 3rem;
}

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 2rem auto;

}

.banner-title {
    font-size: 64px;
    font-weight: 700;
}

.btn {
    border: 0;
    border-radius: 8px;
    background: #FF900E;
    color: #fff;
    padding: 20px 25px;
    font-size: 1rem;
}

.banner img {
    margin-top: 20px;
    width: 100%;
}

/* Feature */



.feature-container {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.feature-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.feature-content h3 {
    font-size: 45px;
    font-weight: 800;
    color: #727272;
}

.color-gray {
    color: black;
}

.color-red {
    color: tomato;
}

.feature-content p {
    font-size: 1rem;
    font-weight: 200;
    color: black;
    padding: 2rem 0;
    letter-spacing: 2px;
}

.fact-text h3 {
    color: var(--Dark-01, #131313);
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
}

.fact-text p {
    color: var(--Dark-03, #131313);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 2rem 0;
}

.card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 2rem;
}

.fact-card {
    display: flex;
    justify-content: space-around;
}


.sponsor-container {
    padding: 3rem 0;
}

.sponsor-text {
    text-align: center;
}

.sponsor-text h3 {
    font-size: 45px;
    font-weight: 700;
}

.sponsor-text p {
    font-weight: 200;
    padding: 2rem;
    margin-bottom: 30px;
}

.sponsor-logo {
    display: flex;
    justify-content: space-around;
}

footer {
    background-color: beige;
    padding: 2rem;
    text-align: center;
    border-radius: 5px;
    border: none;
}


/* Fea */

.fea-container {
    display: flex;
    margin-top: 130px;
    gap: 15px;
}

.fea-text h4 {
    font-size: 45px;
}

.fea-text p {
    font-size: 16px;
    padding: 10px 0;
}

.fea-card {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 15px;
    margin: 25px 0;
}

.fea-image img {
    border-radius: 8px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}



/* Reasponsive */

@media screen and (max-width:567px) {
    header {
        padding: 20px;
    }

    nav {
        flex-direction: column;
    }

    .feature-container {
        flex-direction: column;
    }

    .feature-img img {
        width: 100%;
    }

    .feature-content {
        padding: 0 2rem;
    }

    .fea-container {
        flex-direction: column;
        background-color: #FF900E;
        padding: 3rem 0;
    }

    .fea-text {
        padding: 0 2rem;
    }

    .fact-card {
        flex-direction: column;
        margin: 1rem 2rem;
    }

    .fact-text {
        padding: 1rem;
    }

    .sponsor-logo {
        flex-direction: column;
        align-items: center;
    }

    .sponsor-logo div {
        border: 1px solid blue;
        padding: 3rem;
        margin: 1rem 0;
        box-shadow: 1px 1px 10px;
        background-color: #ff8f0e0c;
    }

    .fea-image img {
        width: 100%;
    }

}

@media screen and (min-width:567px) and (max-width:970px) {
    header {
        padding: 50px;
    }

    nav {
        flex-direction: column;
    }

    .feature-container {
        flex-direction: column;
    }

    .feature-img img {
        width: 100%;
    }

    .feature-content {
        padding: 0 2rem;
    }

    .fea-container {
        flex-direction: column;
        background-color: #FF900E;
        padding: 3rem 0;
    }

    .fea-text {
        padding: 0 2rem;
    }

    .fact-card {
        flex-direction: column;
        margin: 1rem 2rem;
    }

    .fact-text {
        padding: 1rem;
    }

    .sponsor-logo {
        flex-direction: column;
        align-items: center;
    }

    .sponsor-logo div {
        border: 1px solid blue;
        padding: 3rem;
        margin: 1rem 0;
        box-shadow: 1px 1px 10px;
        background-color: #ff8f0e0c;
    }

    .fea-image img {
        width: 100%;
    }

}