@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,200;1,100&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

header {
    background-color: beige;
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-size: 1rem;
    font-weight: 500;
}

nav li>a {
    text-decoration: none;
    font-weight: 700;
}

.nav-title {
    font-size: 3rem;
}

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;

}

.banner-title {
    font-size: 64px;
    font-weight: 700;
}

.btn {
    border: 0;
    border-radius: 8px;
    background: #FF900E;
    color: #fff;
    padding: 20px 25px;
    font-size: 1rem;
}

.banner img {
    margin-top: 20px;
    width: 100%;
}

/* Feature */

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 0;
}

.feature-container {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.feature-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.feature-content h3 {
    font-size: 45px;
    font-weight: 700;
}

.feature-content p {
    font-size: 1rem;
    font-weight: 200;
    color: black;
}




/* Reasponsive */

@media screen and (max-width:567px) {
    header {
        padding: 20px;
    }

    nav {
        flex-direction: column;
    }

    .feature-container {
        flex-direction: column;
    }

    .feature-img img {
        width: 100%;
    }

    .feature-content {
        padding: 0 2rem;
    }
}

@media screen and (min-width:567px) and (max-width:970px) {
    header {
        padding: 50px;
    }

    nav {
        flex-direction: column;
    }

    .feature-container {
        flex-direction: column;
    }

    .feature-img img {
        width: 100%;
    }

    .feature-content {
        padding: 0 2rem;
    }
}